
.content_admin{
    width: 100%;   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box{
    width: 90%;
    margin: 0px auto;
    display: flex;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.box > h1{
    font-size: 25px;
    margin-top: 10px;
    margin-right: 10px;
}

.linkk{
    margin-top: 10px !important;
}